
<!--<div class ="container">
	<footer class = "footer">
		<small>
			copyright &copy; <a href="ensa.uit.ac.ma">
			Ensa,Kenitra,Maroc.</a>
		</small>

	</footer>
</div>
-->

    <!-- Footer -->
    <footer>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
    </footer>
